@using System.Collections
@using System.Configuration
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    if (Model.MacroParameters.Any())
    {
        var parameter = Model.MacroParameters["selectedEvents"].ToString().Split(',');
        var events = (from string eventType in parameter select new EventPage(Umbraco.TypedContent(eventType))).ToList();

        <div class="tabs">
            <ul>
                @foreach (var eventType in events)
                {
                    <li><a href="#@eventType.Id">@eventType.Name</a></li>
                }
            </ul>
            @foreach (var eventType in events)
            {
                @Html.Partial("~/Views/Partials/_EventPartial.cshtml", eventType)
            }
        </div>
    }
}

