@using System.Collections
@using System.Configuration
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    if (Model.MacroParameters.Any())
    {
        var parameter = Model.MacroParameters["selectedEvents"].ToString().Split(',');
        var events = (from string eventType in parameter select new EventPage(Umbraco.TypedContent(eventType))).ToList();

        <div class="tabs">
            <ul>
                @foreach (var eventType in events)
                {
                    <li><a href="#@eventType.Id">@eventType.Name</a></li>

                }                
            </ul>
            @foreach (var eventType in events)
            {
                <div id="@eventType.Id">
                    <div class="accordian fusion-accordian">
                        <div class="panel-group" id="open">
                            <h4 class="panel-title toggle">
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#" class="no-link">
                                    <i class="fa-fusion-box"></i>Sample Menu
                                </a>
                            </h4>
                            <div class="">
                                <div class="panel-body toggle-content">
                                    <div class="col content-wrapper-background" style="background-color: #ddeeca;">
                                        <div class="heading heading-with-icon">
                                            <div class="icon">
                                                <i style="background-color: #4c393f; color: #ffffff;" class="fa fontawesome-icon medium fa-cutlery circle-yes"></i>
                                            </div>
                                            <h2 class="content-box-heading">Sample Menu</h2>
                                        </div>
                                        <div class="content-container">
                                            <p style="text-align: center;">
                                                <span style="color: #800080;"><b>To Start:</b></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Oak Smoked Salmon, Dill and Lemon Mayonnaise, Pickled cucumber.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Creamy Smoked Mackerel Pate, Lightly picked Beetroot, Caraway Rye Bread.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Warm Caramelised Onion Tart, Rocket Salad and Chorizo Croutons.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Pork and Butterbean Terrine, Tomato Chutney and Herb Salad.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Watercress, Pear, Stilton and Walnut Salad, with a Honey and Cider Dressing.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Griddled Pomegranate Chicken, Quinoa Tabouleh.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Aubergine, Feta, Mint and Pomegranate Rolls.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="color: #800080;"><b>Main:</b></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Roast Leg of Lamb for each table, Rosemary and Garlic, Roasted New Potatoes, Provencal Sauce.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Braised Cured Ham, Parsnip Puree, Roast Potatoes, Caraway Carrots.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Ratatouille and Mascarpone Lasagne, Freshly Baked Focaccia, Wild Leaf Salad.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Wild Mushroom and Chestnut Plait, Herb Baby Roast Potatoes, redcurrant Jus.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Sausage and Three Mustard Mash, Red Cabbage and Apple.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Salmon with Herb Crust, Sautéed New Potatoes, Chorizo and Courgettes.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Suffolk Steak and Ale Pie, Creamy Horseradish Mash and Spring Greens.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="color: #800080;"><b>Puddings:</b></span>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Pecan Pie with Homemade Vanilla Ice Cream.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Eton Mess, Macerated Strawberries, Chantilly Cream.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Chocolate and Coconut Tart with Mixed Berries.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Bread and Butter Puddings with Roasted Fruit.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong>Warm Chocolate Brownies and Vanilla Ice Cream.</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <strong> ….</strong>
                                            </p>
                                            <p style="text-align: center;">
                                                <span style="color: #800080;"><strong>available as one or two courses.</strong></span>
                                            </p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }                  
        </div>
    }
}

