<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1094" key="200a25bd-73bd-4662-998f-0cfd0fb7f498" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-07-15T16:59:22" updateDate="2017-07-15T17:07:55" nodeName="Home" urlName="home" path="-1,1094" isDoc="" nodeType="1071" creatorName="Admin" writerName="Admin" writerID="0" template="1066" nodeTypeAlias="Home">
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageBody><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></pageBody>
    <TextPage id="1095" key="2481a3df-0414-46ab-8208-b1e64a9c93e1" parentID="1094" level="2" creatorID="0" sortOrder="0" createDate="2017-07-15T17:00:43" updateDate="2017-07-15T17:00:43" nodeName="About" urlName="about" path="-1,1094,1095" isDoc="" nodeType="1072" creatorName="Admin" writerName="Admin" writerID="0" template="1067" nodeTypeAlias="TextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageBody><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></pageBody>
    </TextPage>
  </Home>
</root>