@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<TextPage>
@{
    Layout = "Master.cshtml";
}
<div id="sliders-container">
</div>
<div id="main" class="clearfix " style="">
    <div class="avada-row" style="">
        <div id="content" class="full-width">
            <div id="post-@Model.Content.Id" class="post-@Model.Content.Id page type-page status-publish hentry">
                <div class="post-content">
                    <div class="fusion-one-fourth one_fourth fusion-column"></div>
                    <h1>@(!string.IsNullOrEmpty(Model.Content.PageTitle) ? Model.Content.PageTitle : Model.Content.Name)</h1>
                    @Model.Content.GetGridHtml(Html, "pageBody")
                </div>
            </div>
        </div>
    </div>
</div>